body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    background-color: azure;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

header {
    width: 100%;
    background: linear-gradient(to right, rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.1));
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.nav-links a {
    margin: 10px;
    color: #fff;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-container {
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #fff;
}

#search-bar {
    padding: 5px;
    margin-right: 5px;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 15px;
    background: transparent;
    color: #fff;
}

#search-bar::placeholder {
    color: #9e9898;
}

#search-button, #clear-button {
    padding: 4px 10px;
    background-color: #12111148;
    border: 1px solid #fff;
    color: #fff;
    margin: 0 5px;
    font-size: 1em;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

.social-media-icons {
    position: absolute;
    left: 20px;
    top: 50%;
    padding-top: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
}

.social-media-icons a {
    color: #fff;
    font-size: 1.5em;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.social-media-icons a:hover {
    background-color: #ff4500;
    transform: scale(1.1);
}

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    color: #fff;
    overflow: hidden;
    padding-top: 60px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center center/cover;
    z-index: 1;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.content {
    position: relative;
    z-index: 3;
    padding-left: 100px;
    padding-right: 20px;
    max-width: 700px;
    margin-left: 30px;
}

h1 {
    font-size: 5rem;
    margin: 0;
    line-height: 1.2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 1em;
    margin: 20px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

button {
    padding: 10px 20px;
    background-color: #ff4500;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ff6347;
    transform: scale(1.1);
}

#results-container {
    margin-top: 80px; 
    width: 80%;
    padding-left: 100px;
    padding-bottom: 50px;
}

#results {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

#results img {
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

#results h3{
    font-size: 2rem;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#results p {
    font-size: 1em;
    margin: 20px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

.search-results{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#about {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: auto;
}


.about-content {
    position: relative;
    z-index: 3;
    max-width: 800px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.team {
    position: relative;
    z-index: 3;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.team h3 {
    font-size: 2rem;
    margin: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.team-member {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.team-member h4 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.team-member p {
    margin: 0;
    font-size: 1rem;
}